@import "./common/style/variables";

.app {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-color: $bgColor;
    .menu {
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 2;
        background-size: cover;
        background-position: left top;
        top: -35px;
        left: -35px;
        @media screen and (max-width: 1400px) {
            top: 0;
            left: 0;
        }
    }
}
