.footerContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 150px;
  margin-top: 20px;

  .box {
    height: 30px;
    width: 30px;
    background-color: #483d8b;
    margin-right: 5px;
    color: #fff;
  }
}






