@import "../../src/common/style/variables";
.projectsBlock {
  background-color: $bgColor;
  .projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: auto;
    width: 65%;
    padding: 60px 100px;
    @media screen and (max-width: 1400px) {
      align-items: center;
      width: 80%;
    }
    .projects {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      @media screen and (max-width: 1400px) {
        justify-content: center;
      }
    }
  }
}




